language: php

php:
  - 5.6
  - 7.0

notifications:
  irc:
    use_notice: true
    skip_join: true
    channels: ["irc.freenode.org#imbo"]

before_script:
  - composer self-update
  - composer install --prefer-source

script:
  - composer lint
  - php -S localhost:8080 -t ./features/bootstrap > server.log 2>&1 &
  - composer test

after_failure:
  - echo "Tests failed - httpd log follows"
  - echo "================================"
  - cat server.log
