parameters:
    level: max
    paths:
        - src
        - tests
        - features
    ignoreErrors:
        - message: '#ArrayContainsComparatorTest::testCanRecursivelyCompareAssociativeArraysWith\(\) has parameter#'
          path: tests/*
        - message: '#ArrayContainsComparatorTest::testCanCompareSpecificIndexesInAListWith\(\) has parameter#'
          path: tests/*
        - message: '#ArrayContainsComparatorTest::testCanRecursivelyDoInArrayChecksWith\(\) has parameter#'
          path: tests/*
        - message: '#of callable Imbo\\BehatApiExtension\\ArrayContainsComparator\\Matcher\\(Array(Min|Max)?Length|RegExp) expects#'
          path: tests/*
        - message: '#BehatApiExtension::load\(\) has parameter \$config#'
          path: src/*
        - message: '#ApiContext::(getTableNodeHash|set(QueryStringParameters?|Request(Multipart)?FormParams))\(\) has parameter#'
          path: src/*
        - message: '#ApiContext::getResponseBodyArray\(\) return type has no value type specified in iterable type array#'
          path: src/*
        - message: '#Matcher\\(Array(Min|Max)?Length)::__invoke\(\) has parameter#'
          path: src/*
        - message: '#ArrayContainsComparator::(inArray|arrayIs(List|Object))\(\) has parameter#'
          path: src/*
        - message: '#JWT::addToken\(\) has parameter#'
          path: src/*
        - message: '#Property FeatureContext::\$process type has no value type specified in iterable type#'
          path: features/*